:root {
    --main-color: #098BBB;
    --secondary-color: #1e2639E6;
    --tert-color: #1E2639;
    --quart-color: #0F204B;
    --white: #FFF;
    --black: #000;
    --box-shadow1: 0.2rem 0.2rem rgba(0, 0, 0, .1);
    --box-shadow2: 0.1rem 0.1rem #098BBB;
}

/* Fonts */
@font-face {
    font-family: kantumruy-reg;
    src: url("../font/kantumruy/KantumruyPro-Regular.ttf");
}

@font-face {
    font-family: kantumruy-med;
    src: url("../font/kantumruy/KantumruyPro-Medium.ttf");
}

@font-face {
    font-family: kantumruy-bold;
    src: url("../font/kantumruy/KantumruyPro-Bold.ttf");
}

/* General Styles */
body {
    font-family: kantumruy-reg;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
}

h2 {
    text-decoration: underline;
    color: #098BBB;
}

p {
    font-family: kantumruy-bold;
    margin: 0;
    margin-bottom: 20px;
}

section {
    padding: 2rem 2%;
}

a {
    text-decoration: none;
    color: var(--black);
}

a:hover {
    color: var(--main-color);
}

/* Section Header */
.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background: var(--white);
    z-index: 1000;
    align-items: center;
    padding: 1rem 2%;
    box-shadow: var(--box-shadow1);
}

.couleur {
    color: var(--main-color);
}

.header .header-icon {
    width: 40px;
}

.header img {
    width: 150px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .navbar a {
    font-size: 1.5rem;
    margin-left: 2rem;
    font-family: kantumruy-med;
    display: inline-flex;
}

.header .navbar a:hover {
    color: var(--main-color);
}

.centre {
    display: flex;
    align-items: center;
}

.btn-primary {
    padding: 10px;
    background-color: var(--main-color);
    color: white;
    border-radius: 20px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    font-family: kantumruy-med;
}

.btn-primary:hover {
    background-color: var(--quart-color);
}


.btn-secondary {
    color: var(--white);
    padding: 8px;
    background-color: var(--main-color);
    border-radius: 15px;
}

.btn-secondary:hover {
    background-color: var(--quart-color);
}


/* Section Hero */
.hero {
    position: relative;
    padding: 180px 6%;
    text-align: center;
    color: var(--white);
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../image/ai-generated-7895198.jpg) no-repeat center center/cover;
}

.hero-content {
    position: absolute;
    background-color: var(--main-color);
    opacity: 0.7;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.hero-content h1 {
    font-family: kantumruy-bold;
    font-size: 5rem;
    margin-top: 6rem;
    margin-bottom: 1rem;
}

.texte-para {
    display: flex;
    justify-content: center;
    font-size: 25px;
    gap: 8px;
}

.opacity {
    opacity: 0.5;
    cursor: pointer;
}

.texte-para a {
    color: var(--white);
}

/* Section service1 */

.titre-s1 {
    color: var(--quart-color);
    font-family: kantumruy-bold;
    font-size: 20px;
}

.service1 .a-propos-de {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.part-text {
    width: 42%;
    padding-left: 40px;
}

.text-about .sa-couleur0 {
    color: var(--main-color);
    font-family: kantumruy-bold;
    font-size: 3rem;
}

.text-about p {
    font-family: kantumruy-reg;
    font-size: 1.5rem;
}

.text-about .sa-couleur1 {
    color: var(--main-color);
    font-family: kantumruy-med;
    font-size: 1.4rem;
    box-shadow: var(--box-shadow1)
}

.btn-demandez p {
    text-align: center;
    color: var(--main-color);
    padding: 8px;
    background-color: var(--white);
    border-radius: 15px 0px;
    border-width: 1rem;
    border: 1.5px solid var(--main-color);
    font-size: 1.4rem;
    font-family: kantumruy-reg;
    width: 40%;
}

.btn-demandez p:hover {
    background-color: var(--main-color);
    transition: 300ms;
    border-radius: 0 15px;
    color: var(--white);
    width: 40%;
}

.list-service1 .btn-list {
    display: flex;
    font-size: 1.1rem;
    line-height: 40px;
    background-color: var(--main-color);
    border: 1.5px solid var(--main-color);
    border-radius: 15px 0;
    color: var(--white);
    padding: 5px;
}

.list-service1 .btn-list:hover {
    background-color: var(--white);
    transition: 300ms;
    border-radius: 0 15px;
    color: var(--main-color); 
    border: 1.5px solid var(--main-color);
    cursor: pointer;
}

.list-service2 .btn-list {
    display: flex;
    font-size: 1.1rem;
    line-height: 40px;
    background-color: var(--main-color);
    border: 1.5px solid var(--main-color);
    border-radius: 15px 0;
    color: var(--white);
    padding: 5px;
}

.list-service2 .btn-list:hover {
    background-color: var(--white);
    transition: 300ms;
    border-radius: 0 15px;
    color: var(--main-color); 
    border: 1.5px solid var(--main-color);
    cursor: pointer;
}

/* Section service2 */

.titre-s2 {
    color: var(--quart-color);
    font-family: kantumruy-bold;
    font-size: 20px;
}

.titre-service {
    color: var(--main-color);
    font-family: kantumruy-bold;
    font-size: 3rem;
    padding-left: 40px;
}

.services-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    column-gap: 80px;
    row-gap: 50px;
    padding-left: 30px;
    width: 90%;
}

.content img {
    width: 200px;
    height: 140px;
    border-radius: 10px;
}

.content p {
    display: flex;
    justify-content: center;
}

.espace {
    max-width: 200px;
    text-align: center;
}

/* Section service3 */

.service3 {
    background-color: whitesmoke;
}

.alignement {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service3 h2 {
    font-family: kantumruy-bold;
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.subtitle1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 30px;
}

h3 {
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}





/* style du footer*/
footer {
    background-color: var(--secondary-color);
    color: white;
    font-family: kantumruy-reg;
}

.footer-top {
    display: flex;
    gap: 100px;
    background-color: var(--main-color);
    padding: 20px;
}

.about-footer-text h3 {
    font-size: 24px;
    font-weight: medium;
}

.about-footer-text p {
    font-family: kantumruy-reg;
    margin: 10px 0;
}

.newsletter-signup {
    margin-top: 30px;
}

.newsletter-signup input {
    padding: 15px;
    width: 300px;
    border: none;
    border-radius: 10px 0 0 0;
}

.newsletter-signup button {
    padding: 10px 20px;
    background-color: var(--main-color);
    color: var(--white);
    border: none;
    cursor: pointer;
    border-radius: 3px;
    font-weight: medium;
}

.footer-main {
    display: flex;
    justify-content: space-between;
    padding: 40px 20px;
}

.footer-column {
    max-width: 200px;
}

.footer-column h4 {
    font-weight: bold;
    margin-bottom: 50px;
}

.footer-column h5 {
    font-weight: normal;
    font-size: medium;
    text-decoration: underline;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
    opacity: 0.8;
}

.footer-column ul li {
    margin-bottom: 8px;
    line-height: 30px;
}

.footer-column ul li a {
    color: white;
    text-decoration: none;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.logo-column img {
    margin-bottom: 15px;
    width: 150px;

}

.logo-column p {
    line-height: 20px;
    font-family: kantumruy-reg;
    font-size: 15px;
    margin-bottom: 10px;
    opacity: 0.8;
}

.logo-column a {
    color: var(--main-color);
    text-decoration: none;
    font-weight: bold;
}

.logo-column a:hover {
    text-decoration: underline;
}

.contact-column p {
    line-height: 30px;
    font-family: kantumruy-reg;
    opacity: 0.8;
}

.contact-column p a {
    color: var(--white);
}

.contact-column p a:hover {
    text-decoration: underline;
    color: var(--main-color);
}

.besoin {
    line-height: 10px;
    margin-left: 10em;
    margin-bottom: 20px;
}

.besoin p {
    color: var(--main-color);
}

.besoin .consultation {
    color: var(--white);
}

.besoin .consultation:hover {
    color: var(--main-color);
}

.footer-bottom {
    padding: 10px 0;
    background-color: var(--tert-color);
    border-top: 0px solid var(--main-color);
}

.footer-bottom p {
    font-size: 15px;
    margin-left: 25px;
    opacity: 0.6;
    margin-top: 10px;
}