:root {
    --main-color: #098BBB;
    --secondary-color: #1e2639E6;
    --tert-color: #1E2639;
    --quart-color: #0F204B;
    --white: #FFF;
    --black: #000;
    --box-shadow1: 0.2rem 0.2rem rgba(0, 0, 0, .1);
    --box-shadow2: 0.1rem 0.1rem #098BBB;
}

/* Fonts */
@font-face {
    font-family: kantumruy-reg;
    src: url("../font/kantumruy/KantumruyPro-Regular.ttf");
}

@font-face {
    font-family: kantumruy-med;
    src: url("../font/kantumruy/KantumruyPro-Medium.ttf");
}

@font-face {
    font-family: kantumruy-bold;
    src: url("../font/kantumruy/KantumruyPro-Bold.ttf");
}

/* General Styles */
body {
    font-family: kantumruy-reg;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
}

h2 {
    text-decoration: underline;
    color: #098BBB;
}

p {
    font-family: kantumruy-bold;
    margin: 0;
    margin-bottom: 20px;
}

section {
    padding: 1rem 2%;
}

a {
    text-decoration: none;
    color: var(--black);
}

a:hover {
    color: var(--main-color);
}


/* Section caché de BARRE DE RECHERCHE */

.divCher {
    display: contents;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 70%;
}

.search-bar {
    position: relative;
}

.search-bar input {
    width: 95%;
    padding: 10px;
    border: 0.5px solid var(--main-color);
    border-radius: 5px;
    font-size: 18px;
    font-family: kantumruy-reg;
    outline: none;
}

.search-bar i {
    position: absolute;
    right: 10px;
    top: 35px;
    color: var(--main-color);
}

.icon-search img {
    width: 20px;
    height: auto;
    position: absolute;
    margin-top: -23px;
    margin-left: -40px;
    cursor: pointer;
}


.search-block {
    display: flex;
    justify-content: center;
}

#searchBlock {
    left: 20%;
    position: absolute;
    top: -500%;
    cursor: pointer;
    font-size: 2rem;
    background-color: var(--main-color);
    /* border: 2px solid var(--white); */
    color: var(--white);

    transition: top 1s cubic-bezier(0.01, 0.51, 0, 1);
    /* Animation */
    z-index: 90000;
    padding: 20px;
    border-radius: 26px;
    overflow: auto;
}

#searchBlock.show {
    margin-top: 1%;
    position: fixed;
    top: 0;
}

.close-btn0 {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 1.5rem;
    background-color: var(--main-color);
    border: 1.5px solid var(--white);
    border-radius: 50px;
    color: var(--white);
    width: 30px;
    height: 30px;
    text-align: center;
}


.cadreS {
    display: inline-block;
    padding: 20px;
    border: 1px solid var(--white);
    border-radius: 20px;
    box-shadow: 3px 2px 2px var(--main-color);
    width: 50vw;
    background-color: var(--main-color);
}


/* Section Partie caché de barre de contact */

.divBody {
    display: flex;
    width: 50rem;
    position: relative;
    height: auto;
    margin: 0 auto;
    /* margin-top: 100px; */
    /* margin-bottom: 30px; */
    align-items: center;
    border: 1px solid var(--main-color);
    border-radius: 20px;
    padding: 10px;
    background-color: var(--white);
}

/*  */
/* partie texte et image */
.tex-contactBody {
    display: flex;
    flex-direction: column;
}

.imagg {
    display: flex;
    align-items: center;
    gap: 20px;
}

.imagg img {
    width: 150px;
    height: auto;
}

.imagg p {
    color: var(--main-color);
    text-decoration: underline;
    text-align: center;
    font-size: 17px;
    font-family: kantumruy-med;
    padding-top: 5px;
    cursor: pointer;
}

.tex-details {
    font-family: kantumruy-reg;
    font-size: 20px;
}

.tex-details p.p1 {
    font-family: kantumruy-reg;
    font-size: 16px;
    line-height: 28px;
    padding-top: 20px;
    padding-right: 14px;
    padding-left: 14px;
}

.tex-details p.p1 span {
    color: var(--main-color);
    font-style: italic;
    font-family: kantumruy-med;
}

.tex-details p.p1 span span {
    color: var(--white);
}

.tex-details p.p2 {
    padding-left: 14px;
    font-size: 16px;
    padding-top: 14px;
    cursor: pointer;
}

.tex-details p.p3 {
    padding-left: 14px;
    font-size: 16px;
    padding-top: 14px;
    font-family: kantumruy-med;
}

/*  */
/* partie formulaire */
.contact-form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 70%;
}

.cadra {
    padding: 20px;
    padding-right: 40px;
    border: 1px solid wheat;
    border-radius: 20px;
    box-shadow: 3px 2px 2px var(--main-color);
    width: 300px;
}

.contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--main-color);
}

.form-group {
    margin-bottom: 15px;
    position: relative;
}

.form-group label {
    font-family: kantumruy-med;
    font-size: 15px;
    color: var(--main-color);
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 0.5px solid var(--main-color);
    border-radius: 5px;
    font-size: 15px;
    font-family: kantumruy-reg;
    outline: none;
}

.form-group input:focus,
.form-group textarea:focus {
    border: 2px solid var(--main-color);
    border-color: var(--main-color);
}

.form-group textarea {
    resize: vertical;
    height: 150px;
}

.form-group i {
    position: absolute;
    right: 10px;
    top: 31px;
    color: var(--main-color);
}

.icon-user img {
    width: 27px;
    height: auto;
    position: absolute;
}

.icon-email img {
    padding-top: 3px;
    width: 27px;
    height: auto;
    position: absolute;
}

.icon-folder img {
    padding-top: 3px;
    width: 27px;
    height: auto;
    position: absolute;
}

.icon-message img {
    padding-top: 3px;
    width: 30px;
    height: auto;
    position: absolute;
}

.contact-form button {
    width: 40%;
    padding: 8px;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 10px 0;
    font-size: 15px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: var(--quart-color);
}


#contactBlock {
    position: fixed;
    top: -500%;
    padding-top: 100px;
    left: 0;
    width: 100%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: top 1s ease;
    z-index: 10000;
    padding: 10px;
    border-radius: 10px;
    overflow: auto;
}

#contactBlock.show {
    top: 0;
    /* Apparaît en descendant */
}


.close-btn {
    position: absolute;
    top: 1px;
    right: 1px;
    cursor: pointer;
    font-size: 25px;
    background-color: var(--main-color);
    border: 2px solid var(--white);
    border-radius: 50px;
    color: var(--white);
    width: 30px;
    height: 30px;
    text-align: center;
}



/* Section Header */
.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background: var(--white);
    z-index: 1000;
    align-items: center;
    padding: 0.5rem 2%;
    box-shadow: var(--box-shadow1);
}

.mobile {
    display: none !important;
}

.couleur {
    color: var(--main-color);
}

.header .header-icon {
    width: 38px;
}

.header .search-icon {
    font-size: 2rem;
    background: -webkit-gradient(linear, left top, left bottom, from(#098bbb), to(#00c3ff));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

.header .m-contact-icon {
    font-size: 2.5rem;
    background: var(--main-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

.header img {
    width: 150px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .navbar a {
    font-size: 20px;
    margin-left: 2rem;
    font-family: kantumruy-med;
    display: inline-block;
    position: relative;

}

.header .navbar a:hover {
    color: var(--main-color);
}

.header .navbar .scale a::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: left;
    background: var(--main-color);
    transition: transform 0.5s ease-out;
}

.header .navbar .scale a:hover::after {
    transform: scaleX(1);
}

.header .navbar .centre {
    display: flex;
}

.centre {
    display: flex;
    align-items: center;
}

.btn-primary {
    padding: 10px;
    background-color: var(--main-color);
    color: white;
    border-radius: 20px;
    font-size: 15px;
    margin: 0px 23px;
    border: none;
    cursor: pointer;
    font-family: kantumruy-med;
}

.btn-primary:hover {
    background-color: var(--quart-color);
}

.btn-secondary {
    color: var(--white);
    padding: 6px;
    background-color: var(--main-color);
    border-radius: 15px 0;
    border: 1.5px solid var(--main-color);
}

.btn-secondary:hover {
    background-color: var(--white);
    border-radius: 0 15px;
    transition: 500ms;
    border: 1.5px solid var(--main-color);
}

.toggle {
    display: none;
}

#toggle {
    display: none;
}


/* Section Hero */
.hero {
    position: relative;
    padding: 180px 6%;
    text-align: center;
    color: var(--white);
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../image/ai-generated-7895198.jpg) no-repeat center center/cover;
}

.hero-content {
    position: absolute;
    background-color: var(--main-color);
    opacity: 0.7;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.hero-content h1 {
    font-family: kantumruy-bold;
    font-size: 5rem;
    margin-top: 6rem;
    margin-bottom: 1rem;
}

.texte-para {
    display: flex;
    justify-content: center;
    font-size: 25px;
    gap: 8px;
}

.opacity {
    opacity: 0.5;
    cursor: pointer;
}

.texte-para a {
    color: var(--white);
}

/* Section service1 */

.titre-s1 {
    color: var(--quart-color);
    font-family: kantumruy-bold;
    font-size: 20px;
}

.service1 .a-propos-de {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.part-text {
    width: 42%;
    padding-left: 40px;
}

.text-about .sa-couleur0 {
    color: var(--main-color);
    font-family: kantumruy-bold;
    font-size: 3rem;
}

.text-about p {
    font-family: kantumruy-reg;
    font-size: 18px;
    color: var(--black);
}

.text-about .sa-couleur1 {
    color: var(--main-color);
    font-family: kantumruy-med;
    font-size: 18px;
    box-shadow: var(--box-shadow1);
    width: fit-content;
}

.btn-demandez p a {
    text-align: center;
    color: var(--main-color);
    padding: 8px;
    background-color: var(--white);
    border-radius: 15px 0px;
    border-width: 1rem;
    border: 1.5px solid var(--main-color);
    font-size: 1.4rem;
    font-family: kantumruy-reg;
    width: 40%;
    cursor: pointer;
}

.btn-demandez p a:hover {
    background-color: var(--main-color);
    transition: 300ms;
    border-radius: 0 15px;
    color: var(--white);
    width: 40%;
}

.list-service1 .btn-list a {
    display: flex;
    font-size: 1.1rem;
    line-height: 40px;
    background-color: var(--main-color);
    border: 1.5px solid var(--main-color);
    border-radius: 15px 0;
    color: var(--white);
    padding: 5px;
}

.list-service1 .btn-list a:hover {
    background-color: var(--white);
    transition: 300ms;
    border-radius: 0 15px;
    color: var(--main-color);
    border: 1.5px solid var(--main-color);
    cursor: pointer;
}

.list-service2 .btn-list a {
    display: flex;
    font-size: 1.1rem;
    line-height: 40px;
    background-color: var(--main-color);
    border: 1.5px solid var(--main-color);
    border-radius: 15px 0;
    color: var(--white);
    padding: 5px;
}

.list-service2 .btn-list a:hover {
    background-color: var(--white);
    transition: 300ms;
    border-radius: 0 15px;
    color: var(--main-color);
    border: 1.5px solid var(--main-color);
    cursor: pointer;
}

/* Section service2 */

.titre-s2 {
    color: var(--quart-color);
    font-family: kantumruy-bold;
    font-size: 20px;
}

.titre-service {
    color: var(--main-color);
    font-family: kantumruy-bold;
    font-size: 3rem;
    padding-left: 40px;
}

.services-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    column-gap: 80px;
    row-gap: 50px;
    padding-left: 30px;
    width: 90%;
}

.content img {
    width: 200px;
    height: 140px;
    border-radius: 10px;
}

.content p {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    color: var(--black);
}

.espace {
    max-width: 200px;
    text-align: center;
}

/* Section service3 */

.service3 {
    background-color: whitesmoke;
}

.alignement {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alignement .autre {
    font-family: kantumruy-reg;
    font-size: 20px;
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
    color: var(--black);
}

.service3 h2 {
    font-family: kantumruy-bold;
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.subtitle1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 30px;
    color: var(--black);
}

.subt h3 {
    font-size: 20px;
    color: var(--main-color);
    font-weight: normal;
    text-align: center;
}

.cadre0 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 50px;
    height: auto;
    text-align: center;
}

.cadre0 .cadre {
    /* border: 1px solid var(--main-color);
    border-left: none;
    border-top: none; */
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 2px 2px rgb(201, 201, 201);

    width: 300px;
    height: auto;
    padding: 20px;
}

.cadre0 .cadre:hover {
    transition: 300ms;
    color: var(--main-color);
    filter: drop-shadow(0px 2px 2px var(--main-color));
    /* border: 1.5px solid var(--main-color); */
}

.cadre p {
    font-family: kantumruy-reg;
    color: var(--black);
}

.p-cadre p {
    font-size: 20px;
    font-family: kantumruy-bold;
    color: var(--main-color);
    padding-top: 25px;
}

#cercle {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 1.5px solid var(--main-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#cercle .circle {
    width: 15px;
    height: 15px;
    background: var(--main-color);
    border-radius: 50%;
    position: absolute;
    overflow: hidden;
    margin: auto;
    -webkit-animation: circle 5s linear infinite;
    animation: circle 5s linear infinite;
}

@-webkit-keyframes circle {
    0% {
        transform: rotate(0deg)translate(-50px)rotate(0deg);
    }

    100% {
        transform: rotate(360deg)translate(-50px)rotate(-360deg);
    }
}

@keyframes circle {
    0% {
        transform: rotate(0deg)translate(-50px)rotate(0deg);
    }

    100% {
        transform: rotate(360deg)translate(-50px)rotate(0deg);
    }
}




/* style du footer*/
footer {
    background-color: var(--secondary-color);
    color: white;
    font-family: kantumruy-reg;
}

.footer-top {
    display: flex;
    gap: 100px;
    background-color: var(--main-color);
    padding: 20px;
    padding-left: 40px;
    overflow: auto;
}

.about-footer-text h3 {
    font-size: 24px;
    font-weight: medium;
}

.about-footer-text p {
    font-family: kantumruy-reg;
    margin: 10px 0;
    color: var(--white);
}

.newsletter-signup {
    margin-top: 30px;
}

.newsletter-signup input {
    padding: 15px;
    width: 275px;
    border: none;
    border-radius: 10px 0 0 0;
    outline: none;
}

/* .newsletter-signup input:focus {
    border: 2px solid var(--main-color);
    border-color: var(--main-color);
    transition: 0.5s ease-in-out !important;
} */

.newsletter-signup button {
    padding: 10px 20px;
    background-color: var(--main-color);
    color: var(--white);
    border: none;
    cursor: pointer;
    border-radius: 3px;
    font-weight: medium;
}

.footer-main {
    display: flex;
    padding: 40px 20px;
}



.footer-column {
    max-width: 300px;
    margin-left: 20px;
}

.contact-column,
.services-column,
.essentials-column {
    max-width: 300px;
    margin-left: 30px;
}

.footer-column h4 {
    font-weight: medium;
    padding-bottom: 10px;
}

.footer-column h5 {
    font-weight: normal;
    font-size: medium;
    text-decoration: underline;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 8px;
    line-height: 30px;
}

.footer-column ul li a {
    color: #cbcdd1;
    text-decoration: none;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.logo-column img {
    margin-bottom: 15px;
    width: 150px;
}

.logo-column p {
    line-height: 25px;
    font-family: kantumruy-reg;
    font-size: 15px;
    margin-bottom: 10px;
    color: #cbcdd1;
}

.logo-column a {
    color: var(--main-color);
    text-decoration: none;
}

.logo-column a:hover {
    text-decoration: underline;
}

.contact-column p {
    line-height: 30px;
    font-family: kantumruy-reg;
    color: #cbcdd1;
}

.contact-column p a {
    color: var(--white);
}

.contact-column p a:hover {
    text-decoration: underline;
    color: var(--main-color);
}

.abesoin {
    display: flex;
    padding-left: 40px;
    padding-bottom: 30px;
    margin-top: -40px;
}

.abesoin .p-besoin img {
    width: 80px;
}

.besoin {
    line-height: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.besoin p {
    color: var(--main-color);
}

.besoin .consultation {
    color: var(--white);
}

.besoin .consultation:hover {
    color: var(--main-color);
}

.footer-bottom {
    padding: 8px 40px 8px 40px;
    background-color: var(--tert-color);
    border-top: 0px solid var(--main-color);
}

.footer-bottom .p {
    font-size: 15px;
    padding: 10px;
    font-family: kantumruy-reg;
    display: flex;
    color: #cbcdd1;
}

/* ##################### LA PARTIE RESPONSIVE ##########################*/

/* SECTION CACHE BARRE DE RECHERCHE */
@media (max-width: 850px) {

    /* Section caché de BARRE DE RECHERCHE */

    .divCher {
        display: contents;
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        width: 70%;
    }

    .search-bar {
        position: relative;
        display: flex;
        align-items: center;
    }

    .search-bar input {
        width: 100%;
        padding: 5px;
        border: 0.5px solid var(--main-color);
        border-radius: 5px;
        font-size: 16px;
        font-family: kantumruy-reg;
        outline: none;
    }

    .search-bar i {
        position: absolute;
        right: 6px;
        top: 34px;
        color: var(--main-color);
    }

    .icon-search img {
        width: 20px;
        height: auto;
        position: absolute;
        margin-top: -29px;
        margin-left: -17px;
        cursor: pointer;
    }


    .search-block {
        display: flex;
        justify-content: center;
    }

    #searchBlock {
        left: 20%;
        position: absolute;
        top: -500%;
        cursor: pointer;
        font-size: 2rem;
        background-color: initial;
        /* border: 2px solid var(--white); */
        color: var(--white);

        transition: top 1s cubic-bezier(0.01, 0.51, 0, 1);
        /* Animation */
        z-index: 90000;
        padding: 20px;
        border-radius: 10px;
        overflow: auto;
    }

    #searchBlock.show {
        margin-top: 1%;
        position: fixed;
        top: 0;
    }

    .close-btn0 {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        font-size: 17px;
        background-color: var(--main-color);
        border: 1.5px solid var(--white);
        border-radius: 50px;
        color: var(--white);
        width: 20px;
        height: 20px;
        text-align: center;
    }


    .cadreS {
        display: inline-block;
        padding: 10px;
        border: initial;
        border-radius: 7px;
        box-shadow: initial;
        width: 50vw;
        background-color: var(--main-color);
    }
}

/* SECTION CACHE de BARRE DE MENU DE CONTACT */
@media (max-width: 1000px) {
    /* Section Partie caché de barre de contact */

    .divBody {
        display: flex;
        justify-content: center;
        width: 280px;
        position: absolute;
        flex-direction: column-reverse;
        height: 0px;
        margin: 0 auto;
        /* margin-top: 100px; */
        margin-bottom: 20px;
        align-items: center;
        border: initial;
        border-radius: 20px;
        padding: 0px;
        background-color: var(--white);
    }

    /*  */
    /* partie texte et image */
    .tex-contactBody {
        display: none;
        flex-direction: column;
    }

    .imagg {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .imagg img {
        width: 150px;
        height: auto;
    }

    .imagg p {
        color: var(--main-color);
        text-decoration: underline;
        text-align: center;
        font-size: 16px;
        font-family: kantumruy-med;
        padding-top: 5px;
        cursor: pointer;
    }

    .tex-details {
        font-family: kantumruy-reg;
        font-size: 20px;
    }

    .tex-details p.p1 {
        font-family: kantumruy-reg;
        font-size: 20px;
        line-height: 30px;
        padding-top: 50px;
        padding-right: 20px;
        padding-left: 30px;
    }

    .tex-details p.p1 span {
        color: var(--main-color);
        font-style: italic;
        font-family: kantumruy-med;
    }

    .tex-details p.p1 span span {
        color: var(--white);
    }

    .tex-details p.p2 {
        padding-left: 30px;
        padding-top: 30px;
        cursor: pointer;
    }

    .tex-details p.p3 {
        padding-left: 30px;
        padding-top: 30px;
        font-family: kantumruy-med;
    }

    /*  */
    /* partie formulaire */
    .contact-form {
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        width: 100%;
    }

    .cadra {
        padding: 20px;
        padding-right: 0px;
        border: 1px solid wheat;
        border-radius: 20px;
        box-shadow: 3px 2px 2px var(--main-color);
        width: 255px;
    }

    .contact-form h2 {
        text-align: center;
        margin-bottom: 20px;
        color: var(--main-color);
    }

    .form-group {
        margin-bottom: 10px;
        position: relative;
    }

    .form-group label {
        font-family: kantumruy-med;
        font-size: 14px;
        color: var(--main-color);
        display: contents;
        margin-bottom: 5px;
    }

    .form-group input,
    .form-group textarea {
        width: 86%;
        padding: 8px;
        border: 0.5px solid var(--main-color);
        border-radius: 5px;
        font-size: 12px;
        font-family: kantumruy-reg;
        outline: none;
    }

    .form-group input:focus,
    .form-group textarea:focus {
        border: 2px solid var(--main-color);
        border-color: var(--main-color);
    }

    .form-group textarea {
        resize: vertical;
        height: 150px;
    }

    .form-group i {
        position: absolute;
        right: 45px;
        top: 24px;
        color: var(--main-color);
    }

    .icon-user img {
        width: 23px;
        height: auto;
        position: absolute;
    }

    .icon-email img {
        padding-top: 3px;
        width: 23px;
        height: auto;
        position: absolute;
    }

    .icon-folder img {
        padding-top: 3px;
        width: 23px;
        height: auto;
        position: absolute;
    }

    .icon-message img {
        padding-top: 3px;
        width: 23px;
        height: auto;
        position: absolute;
    }

    .contact-form button {
        width: 45%;
        padding: 8px;
        background-color: var(--main-color);
        color: white;
        border: none;
        border-radius: 10px 0;
        font-size: 12px;
        cursor: pointer;
    }

    .contact-form button:hover {
        background-color: var(--quart-color);
    }


    #contactBlock {
        position: fixed;
        top: -500%;
        padding-top: 100px;
        left: 0;
        width: 100%;
        height: 40rem;
        background-color: rgba(255, 255, 255, 0.3);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: top 1s ease;
        z-index: 10000;
        padding: 10px 0;
        border-radius: 10px;
        overflow: auto;
    }

    #contactBlock.show {
        top: 0;
        /* Apparaît en descendant */
    }


    .close-btn {
        /* position: relative; */
        top: 210px;
        right: -10px;
        cursor: pointer;
        font-size: 26px;
        background-color: var(--main-color);
        border: initial;
        border-radius: 50px;
        color: var(--white);
        width: 30px;
        height: 30px;
        text-align: center;
    }
}

/* BARRE DE NAVIGATION ou section header */
@media (max-width: 1000px) {

    /* Section Header */
    .header {
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        background: var(--white);
        z-index: 1000;
        align-items: center;
        padding: 0.5rem 2%;
        box-shadow: var(--box-shadow1);
    }

    .centre .contact-btn {
        display: none;
    }

    .toggle,
    #toggle {
        display: block;
        color: var(--main-color);
        font-size: 2rem;
        margin-left: 10px;
    }

    .couleur {
        color: var(--main-color);
    }

    .header .header-icon {
        width: 35px;
        margin-top: 6px;
    }

    .mobile {
        display: block !important;
    }

    .header img {
        width: 100px;
        margin-left: -25px;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header .navbar a {
        font-size: 16px;
        margin-left: 2rem;
        font-family: kantumruy-med;
        display: inline-block;
        position: relative;
    }

    .header .navbar a:hover {
        color: var(--main-color);
    }

    .header .navbar .scale a::after {
        content: "";
        display: block;
        position: absolute;
        box-sizing: content-box;
        bottom: -2px;
        width: 100%;
        height: 2px;
        transform: scaleX(0);
        transform-origin: left;
        background: var(--main-color);
        transition: transform 0.5s ease-out;
    }

    .header .navbar .scale a:hover::after {
        transform: scaleX(1);
    }

    .scale a {
        display: block !important;
        padding: 2px 0;
        margin-bottom: 10px;
        position: absolute;
        width: fit-content;
    }

    .scale {
        display: block;
        position: absolute;
        top: 56px;
        left: -100%;
        background-color: var(--white);
        border: 1px solid #098bbb;
        padding: 10px;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 1s ease-out;
    }

    .active .scale {
        left: 0;
        transform: scale(1);
    }

    .header .navbar .centre .btn-secondary,
    .header .navbar .logo {
        display: none;
        flex-direction: column;
    }

    .espaceX {
        display: flex;
        align-items: center;
        column-gap: 20px;
    }

    /* label */
    label {
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        color: var(--main-color);
        cursor: pointer;
    }

    /* Afficher le menu lorsqu'il est activé */
    /* .navbar.active .scale,  */
    .navbar.active #showContact {
        display: flex;
    }

    .centre {
        display: flex;
        align-items: center;
    }

    .btn-secondary {
        color: var(--white);
        padding: 6px;
        background-color: var(--main-color);
        border-radius: 15px 0;
        border: 1.5px solid var(--main-color);
    }

    .btn-secondary:hover {
        background-color: var(--white);
        border-radius: 0 15px;
        transition: 500ms;
        border: 1.5px solid var(--main-color);
    }
}

/* section HERO */
@media (max-width: 720px) {
    .hero-content h1 {
        font-family: kantumruy-bold;
        font-size: 4rem;
        margin-top: 5rem;
        margin-bottom: 1rem;
    }

    .texte-para {
        display: flex;
        justify-content: center;
        font-size: 20px;
        gap: 8px;
    }
}

@media (max-width: 480px) {
    .hero-content h1 {
        font-family: kantumruy-bold;
        font-size: 3rem;
        margin-top: 5rem;
        margin-bottom: 1rem;
    }

    .texte-para {
        display: flex;
        justify-content: center;
        font-size: 20px;
        gap: 8px;
    }
}

/* SECTION Service1, Service2 et Service3*/
@media (max-width: 640px) {

    /* Section service1 */
    .titre-s1 {
        color: var(--quart-color);
        font-family: kantumruy-bold;
        font-size: 20px;
    }

    .service1 .a-propos-de {
        display: flex;
        flex-direction: column;
    }

    .part-text {
        width: 80%;
        padding-left: 40px;
    }

    .text-about .sa-couleur0 {
        color: var(--main-color);
        font-family: kantumruy-bold;
        font-size: 2rem;
    }

    .text-about p {
        font-family: kantumruy-reg;
        font-size: 18px;
        color: var(--black);
    }

    .text-about .sa-couleur1 {
        color: var(--main-color);
        font-family: kantumruy-med;
        font-size: 18px;
        box-shadow: var(--box-shadow1);
        width: fit-content;
    }

    .btn-demandez p a {
        text-align: center;
        color: var(--main-color);
        padding: 8px;
        background-color: var(--white);
        border-radius: 15px 0px;
        border-width: 1rem;
        border: 1.5px solid var(--main-color);
        font-size: 1.1rem;
        font-family: kantumruy-reg;
        width: 40%;
        cursor: pointer;
    }

    .btn-demandez p a:hover {
        background-color: var(--main-color);
        transition: 300ms;
        border-radius: 0 15px;
        color: var(--white);
        width: 40%;
    }

    .list-service1 {
        margin-left: 40px;
        width: 80%;
    }

    .list-service1 .btn-list a {
        display: flex;
        font-size: 1.1rem;
        line-height: 40px;
        background-color: var(--main-color);
        border: 1.5px solid var(--main-color);
        border-radius: 15px 0;
        color: var(--white);
        padding: 5px;
    }

    .list-service1 .btn-list a:hover {
        background-color: var(--white);
        transition: 300ms;
        border-radius: 0 15px;
        color: var(--main-color);
        border: 1.5px solid var(--main-color);
        cursor: pointer;
    }

    .list-service2 {
        margin-left: 40px;
        width: 80%;
    }

    .list-service2 .btn-list a {
        display: flex;
        font-size: 1.1rem;
        line-height: 40px;
        background-color: var(--main-color);
        border: 1.5px solid var(--main-color);
        border-radius: 15px 0;
        color: var(--white);
        padding: 5px;
    }

    .list-service2 .btn-list a:hover {
        background-color: var(--white);
        transition: 300ms;
        border-radius: 0 15px;
        color: var(--main-color);
        border: 1.5px solid var(--main-color);
        cursor: pointer;
    }



    /* Section service2 */

    .titre-s2 {
        color: var(--quart-color);
        font-family: kantumruy-bold;
        font-size: 20px;
    }

    .titre-service {
        color: var(--main-color);
        font-family: kantumruy-bold;
        font-size: 2rem;
        padding-left: 40px;
    }

    .services-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        column-gap: 80px;
        row-gap: 50px;
        padding-left: 30px;
        width: 90%;
    }

    .content img {
        width: 200px;
        height: 140px;
        border-radius: 10px;
    }

    .content p {
        display: flex;
        margin-top: 20px;
        justify-content: center;
        color: var(--black);
    }

    .espace {
        max-width: 200px;
        text-align: center;
    }


    /* Section service3 */
    .service3 {
        background-color: whitesmoke;
    }

    .alignement {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .alignement .autre {
        font-family: kantumruy-reg;
        font-size: 18px;
        padding: 0;
        text-align: center;
        color: var(--black);
    }

    .service3 h2 {
        font-family: kantumruy-bold;
        font-size: 2rem;
        margin-bottom: 30px;
        text-align: center;
    }

    .subtitle1 {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 30px;
        color: var(--black);
    }

    .subt h3 {
        font-size: 20px;
        color: var(--main-color);
        font-weight: normal;
        text-align: center;
    }

    .cadre0 {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 50px;
        row-gap: 50px;
        height: auto;
        text-align: center;
    }

    .cadre0 .cadre {
        /* border: 1px solid var(--main-color);
    border-left: none;
    border-top: none; */
        background-color: var(--white);
        border-radius: 10px;
        box-shadow: 2px 2px rgb(201, 201, 201);

        width: 300px;
        height: auto;
        padding: 20px;
    }

    .cadre0 .cadre:hover {
        transition: 300ms;
        color: var(--main-color);
        filter: drop-shadow(0px 2px 2px var(--main-color));
        /* border: 1.5px solid var(--main-color); */
    }

    .cadre p {
        font-family: kantumruy-reg;
        color: var(--black);
    }

    .p-cadre p {
        font-size: 20px;
        font-family: kantumruy-bold;
        color: var(--main-color);
        padding-top: 25px;
    }

    #cercle {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        border: 1.5px solid var(--main-color);
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

    #cercle .circle {
        width: 15px;
        height: 15px;
        background: var(--main-color);
        border-radius: 50%;
        position: absolute;
        overflow: hidden;
        margin: auto;
        -webkit-animation: circle 5s linear infinite;
        animation: circle 5s linear infinite;
    }

    @-webkit-keyframes circle {
        0% {
            transform: rotate(0deg)translate(-50px)rotate(0deg);
        }

        100% {
            transform: rotate(360deg)translate(-50px)rotate(-360deg);
        }
    }

    @keyframes circle {
        0% {
            transform: rotate(0deg)translate(-50px)rotate(0deg);
        }

        100% {
            transform: rotate(360deg)translate(-50px)rotate(0deg);
        }
    }
}

@media (max-width: 480px) {
    .text-about .sa-couleur0 {
        color: var(--main-color);
        font-family: kantumruy-bold;
        font-size: 25px;
    }

    .titre-service p {
        font-size: 25px;
    }

    .content p {
        display: flex;
        margin-top: 5px;
        justify-content: center;
        color: var(--black);
        margin-bottom: 10px;
    }

    .content .btn-primary {
        padding: 10px;
        background-color: var(--main-color);
        color: white;
        border-radius: 20px;
        font-size: 12px;
        margin: 0px 36px;
        border: none;
        cursor: pointer;
        font-family: kantumruy-med;
    }

    .service3 h2 {
        font-family: kantumruy-bold;
        font-size: 25px;
        margin-bottom: 20px;
        text-align: center;
    }

    .subtitle1 {
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 22px;
        color: var(--black);
    }

    .alignement .autre {
        font-family: kantumruy-reg;
        font-size: 16px;
        padding: 0;
        text-align: center;
        color: var(--black);
    }

    .cadre0 .cadre {
        background-color: var(--white);
        border-radius: 10px;
        box-shadow: 2px 2px rgb(201, 201, 201);
        width: 275px;
        height: auto;
        padding: 15px;
    }
}

/* FOOTER */
@media (max-width: 932px) {

    /* Footer */
    .footer-top {
        display: flex;
        gap: 0;
        flex-direction: column;
        background-color: var(--main-color);
        padding: 20px;
        padding-left: 40px;
        overflow: auto;
    }

    .footer-main {
        display: grid;
        padding: 40px 20px;
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-column {
        max-width: 400px;
    }

    .services-column {
        max-width: 300px;
        margin-left: 20px;
    }

    .contact-column,
    .company-column,
    .essentials-column {
        max-width: 300px;
        margin-left: 50px;
    }

    .footer-column h4 {
        font-weight: medium;
        padding-bottom: 10px;
    }

    .footer-column h5 {
        font-weight: normal;
        font-size: medium;
        text-decoration: underline;
        margin-bottom: 10px;
    }

    .footer-column ul {
        list-style-type: none;
        padding: 0;
    }

    .footer-column ul li {
        margin-bottom: 8px;
        line-height: 30px;
    }

    .footer-column ul li a {
        color: #cbcdd1;
        text-decoration: none;
    }

    .footer-column ul li a:hover {
        text-decoration: underline;
    }

    .logo-column img {
        margin-bottom: 15px;
        width: 150px;
    }

    .logo-column p {
        line-height: 25px;
        font-family: kantumruy-reg;
        font-size: 15px;
        margin-bottom: 10px;
        color: #cbcdd1;
    }

    .logo-column a {
        color: var(--main-color);
        text-decoration: none;
    }

    .logo-column a:hover {
        text-decoration: underline;
    }

    .contact-column p {
        line-height: 30px;
        font-family: kantumruy-reg;
        color: #cbcdd1;
    }

    .contact-column p a {
        color: var(--white);
    }

    .contact-column p a:hover {
        text-decoration: underline;
        color: var(--main-color);
    }
}

@media (max-width: 720px) {

    /* Footer */
    .footer-main {
        display: grid;
        padding: 40px 20px;
        grid-template-columns: repeat(2, 1fr);
    }

    .services-column {
        margin-left: 50px;
    }

    .company-column,
    .essentials-column {
        margin-left: 20px;
    }
}

@media (max-width: 480px) {

    /* Footer */
    .footer-main {
        display: grid;
        padding: 40px 20px;
        grid-template-columns: repeat(1, 1fr);
    }

    .footer-top {
        display: flex;
        gap: 0;
        flex-direction: column;
        background-color: var(--main-color);
        padding: 20px;
        /* padding-left: 40px; */
        overflow: auto;
    }

    .footer-column {
        max-width: 400px;
        margin-left: 0px;
    }
}

@media (max-width: 360px) {

    /* Footer */
    .footer-main {
        display: grid;
        padding: 30px 20px;
        grid-template-columns: repeat(1, 1fr);
    }

    .footer-top {
        display: flex;
        gap: 0;
        flex-direction: column;
        background-color: var(--main-color);
        padding: 20px;
        /* padding-left: 40px; */
        overflow: auto;
    }

    .footer-column {
        max-width: 400px;
        margin-left: 0px;
    }

    .newsletter-signup input {
        padding: 15px;
        width: 90%;
        border: none;
        border-radius: 10px 0 0 0;
        outline: none;
    }
}